

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.WeatherHourly {
    width: 358px;
    height: 130px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: flex-end;
    /* padding-left: 8px;
    padding-bottom: 8px; */
    overflow-x: auto;
    margin-bottom: 24px;
    scroll-padding: 0 20px;
}
.WeatherHourlyWrapper{
  background-color: red;
  width: 1116px;
}
::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 1000px) {
  .WeatherHourly {

    /* width: 1116px; */
    width: 1084px;
  }
  .WeatherHourlyWrapper{
    background-color: white;
    width: 1116px;
  }
}