
.WeatherMain {
    margin: auto;
    justify-content: center
}
.WidgetWidget {
    grid-area: WidgetWidget;
    order: 4;
}
.HourlyContainer {
    grid-area: HourlyContainer;
    order: 3;
}
.WeekContainer {
    grid-area: WeekContainer;
    order: 2;
}
.SnapshotContainer {
    grid-area: SnapshotContainer;
    order: 1;
}

@media only screen and (min-width: 1000px) {

.WeatherMain {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: 272px 130px 184px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas:
    "WidgetWidget WeekContainer"
    "HourlyContainer HourlyContainer"
    "SnapshotContainer SnapshotContainer";
}

.WidgetWidget {
    order: 1;
    }
    .HourlyContainer {
    order: 3;
    }
    .WeekContainer {
    order: 2;
    }
    .SnapshotContainer {
    order: 4;
    }
}