*{
    box-sizing: border-box;
    line-height: 16px;
}
.HourImg {
    line-height: 0px;
    display: flex;
    justify-content: center
}
.HourImgSvg {
    height:32px;
    width: 32px;
}
.md8 {
    margin-top: 8px;
}
.WeatherHour {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;

}


.last{
    margin-right: 0px
}
