/* 358/32/
*/

.DayCard {
    border-radius: 5px;
    width: 358px;
    height: 32px;
    display: flex;
    background-color: white;
    margin-bottom: 8px;
}

.CurrentDay {
    margin-left: 16px;
}

.CurrentDate {
    position:absolute;
    margin-left: 120px;
}
.CurrentHighTemp {
position:absolute;
    margin-left: 232px;
}
.CurrentLowTemp {
    position:absolute;
    margin-left: 272px;
}
.CurrentIcon {
  position:absolute;
    margin-left: 300px;

}
.CurrentIconCloud {
    display: fle
}
.currentIconRain {
    display: flex;
    align-items: center;
    position:absolute;
    margin-left: 330px;
    margin-top:8px;
}
.p16 {
    font-size: 16px;
}
.p8 {
    font-size: 8px;
}

.s16 {
    width: 32px;
    height: 32px;
    text-align: center
}

.asc {
    align-self:  center;
}



/* 535
148
*/

 @media only screen and (min-width: 1000px) {
     .DayCard {
         width: 550px;

    }
    .CurrentHighTemp {
        margin-left: 364px;
    }
    .CurrentDate {
        margin-left:185px;
    }
    .CurrentLowTemp {
        margin-left: 413px;
    }
    .CurrentIcon {
        margin-left: 471px;
    }
    .currentIconRain {
        margin-left: 510px;
    }
 }